{% extends 'base.html.twig' %}

{% block title %}Hello RechercheController!{% endblock %}

{% block body %}

<div class="example-wrapper">

{{ form_start(form) }}
{{ form_row(form.titre) }}
    <div class="row center"> 
        <button type="submit" class="btn">Recherche</button>
    </div>
{{ form_end(form) }}



</div>
{% endblock %}
