{% extends 'base.html.twig' %}

{% block title %}Post Page{% endblock %}

{% block body %}

<div class="container">



            {{ form_start(form) }}

            <div class="row">

                  {{ form_row(form) }}

         </div>
            <div>
                <button style="margin-left:10px" class="btn" type="submit">new comment</button>
            </div>
            {{ form_end(form) }}
                
        



</div>




{% endblock %}
