{% extends 'base.html.twig' %}

{% block title %}Post Page{% endblock %}

{% block body %}

<div class="container">



            {{ form_start(form) }}

            <div class="row">

                  {{ form_row(form) }}

         </div>

            {{ form_end(form) }}
                
        



</div>




{% endblock %}
